.navbar {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  background-color: #161928;
  color: #fff;
}
